<body>
    <h1>
        Tierische Therapeuten
    </h1>
    <div>
        <h2>Ba</h2>
        <img src="https://picsum.photos/300?random=1" alt="placeholder image">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra mattis sapien, sed rutrum nulla maximus ac. Vestibulum rhoncus, ipsum nec eleifend eleifend, ante quam posuere enim, quis consequat enim lectus at urna. Mauris venenatis eros in pretium fringilla. Curabitur a odio odio. Nullam mi risus, aliquam vitae diam ut, convallis rutrum quam. Aenean et blandit mauris, sit amet condimentum massa. Nulla sit amet risus odio. Aliquam erat volutpat. Ut luctus cursus lorem, a ultricies urna. Maecenas sodales diam lacus, et vulputate justo molestie sit amet. Etiam porttitor magna nec magna efficitur porttitor. Nulla eget ex nec metus vehicula vestibulum. Donec auctor auctor mauris eget lobortis. Aliquam erat volutpat.
        </p>
        
        <h2>Kira</h2>
        <img src="https://picsum.photos/300?random=2" alt="placeholder image">
        <p>
            Integer aliquet augue eros, eu dignissim orci dapibus ut. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Quisque sit amet sagittis purus. Nullam sagittis nec urna at vehicula. Vivamus eu ultrices odio, sed euismod mi. Donec ac vehicula lacus, ac posuere elit. Donec blandit tellus nec nunc maximus volutpat nec interdum augue. Vestibulum consequat ut mi vel volutpat. Maecenas congue fringilla risus, vel congue erat ullamcorper eu. Vestibulum semper massa ex, et pellentesque tortor porta vitae. Praesent metus urna, imperdiet sed neque at, rhoncus ultricies mi.
        </p>
    </div>
</body>