<body>
    <h1>
        Impressum
    </h1>

    <p>
        Jessica Dippmann<br>
        Walther-Rathenau-Straße 12<br>
        17489 Vorpommern-Greifswald<br>
        Deutschland
    </p>
    
    <p>
        Tel.: 0176 462 98 766<br>
        E-Mail: <a href="mailto:jessica.dippmann@bund-lernfoerderung.de">jessica.dippmann&commat;bund-lernfoerderung.de</a>
    </p>
    
    <p>Plattform der EU-Kommission zur Online-Streitbeilegung: <a href="https://ec.europa.eu/odr">https://ec.europa.eu/odr</a></p>
    
    <p>Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet noch bereit.</p>
</body>