/* general navigation bar styling */
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    width: 100%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

/* Navigation Bar*/
nav {
    position: sticky;
    top: 0;
    display: flex;
}

nav ul {
    justify-content: flex-end;
}

/* footer styling */
footer {
    display: flex;
}

footer ul {
    justify-content: space-around;
}

footer li {
    flex: 1;
    text-align: center;
}

/* Banner image*/
.bannerimage {
    width: 100%;
    background-image: url(https://picsum.photos/300);
    height: 200px;
    background-position: center;
    text-align: center;
}