<main class="main">
  <nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" ariaCurrentWhenActive="page">Reittherapie</a></li>
      <li><a routerLink="/leistungen" routerLinkActive="active" ariaCurrentWhenActive="page">Leistungen</a></li>
      <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Über mich</a></li>
      <li><a routerLink="/tierische-therapeuten" routerLinkActive="active" ariaCurrentWhenActive="page">Tierische Therapeuten</a></li>
    </ul>
  </nav>

  <!-- Banner -->
  <div class="bannerimage">
    <h1>
      Reittherapie Bakira
    </h1>
    <h2>
        Reittherapie im Raum Vorpommern-Greifswald
    </h2>
  </div>

  <!-- here is the current page -->
  <router-outlet></router-outlet>

  <footer>
    <ul>
      <li><a routerLink="/impressum" routerLinkActive="active" ariaCurrentWhenActive="page">Impressum</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Kontakt</a></li>
      <li><a routerLink="/agbs" routerLinkActive="active" ariaCurrentWhenActive="page">Datenschutz & AGBs</a></li>
    </ul>
  </footer>
</main>
