<body>
    <h1>
        AGBs & Datenschutz
    </h1>

    <p>
        Können hier bei Bedarf ergänzt werden. Aber aktuell sollte es keine Notwendigkeit
        geben, da die Website noch nichts anbietet und keine Daten über die Nutzer*innen
        speichern.
        <br>
        Bevor die Website mit Inhalten online geht, werde ich mich um eine juristische
        Überprüfung kümmern, damit die Website den gesetzlichen Anforderungen entspricht.
    </p>
    
    <p>
        Die aktuellen Bilder stammen von <a href="https://picsum.photos/">https://picsum.photos/</a>.
    </p>

</body>