<body>
    <h1>
        Leistungen
    </h1>
    <div>
        <table>
            <tr>
                <th>Leistung</th>
                <th>Kosten</th>
                <th>Informationen</th>
            </tr>
            <tr>
                <td>Ponys Streicheln</td>
                <td>Cheese Tax</td>
                <td>Ponys streicheln macht Spaß. Ponys streicheln ist schön. DO IT!</td>
            </tr>
            <tr>
                <td>Kegel umtreten</td>
                <td>einen Apfel und ein Ei</td>
                <td>Kegel umtreten hilft, sich vom Stress des Alltags zu befreien</td>
            </tr>
        </table>
    </div>
</body>